Question: Using Python, calculate what fraction of senders sent messages to at least 9 unique people on March 1, 2018.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv(r"C:\Users\jhank\Desktop\DA7\Projects\interview_prep\data\ddi_message_app_data.csv")

In [7]:
df.head()

         date  sender_id  receiver_id
0  2018-03-01          5            2
1  2018-03-01          8            6
2  2018-03-01          1            2
3  2018-03-01          4            8
4  2018-03-01          2            7

In [8]:
df['date'].unique()

array(['2018-03-01', '2018-03-02', '2018-03-03'], dtype=object)

Keep only date == 2018 03 01

In [10]:
df1 = df[df['date'] == '2018-03-01']

In [11]:
df1.head()

         date  sender_id  receiver_id
0  2018-03-01          5            2
1  2018-03-01          8            6
2  2018-03-01          1            2
3  2018-03-01          4            8
4  2018-03-01          2            7

In [12]:
df1['date'].unique()

array(['2018-03-01'], dtype=object)